.tab {
  display: flex;
  gap: 10px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;

  button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 6px 12px;
    &.active {
      border-bottom: 3px solid #5c7dc3;
      font-weight: bold;
    }
  }
}
