.login-container {
  width: 60vh;
  max-width: 80vh;
  margin: 6vh auto;
  padding: 4vh;
  background: #ffffff;
  border-radius: 2vh;
  box-shadow: 0 1vh 3vh rgba(0, 0, 0, 0.15);
  font-family: "Segoe UI", sans-serif;
}

.login-container h2 {
  text-align: center;

  font-size: 4vh;
  color: #333;
}

.login-container form div {
  margin-bottom: 3vh;
}

.login-container label {
  display: block;
  font-weight: 600;
  color: #444;
  margin-bottom: 1vh;
  font-size: 2.2vh;
}

.login-container input,
.login-container select {
  width: 100%;
  padding: 2vh;
  border: 0.3vh solid #ccc;
  border-radius: 1.5vh;
  font-size: 2.2vh;
  transition: 0.2s ease-in-out;
  background: #fafafa;
}

.login-container input:focus,
.login-container select:focus {
  border-color: #007bff;
  box-shadow: 0 0 1vh rgba(0, 123, 255, 0.4);
  outline: none;
}

.login-container button {
  width: 100%;
  padding: 2.2vh;
  background: #007bff;
  color: #fff;
  font-size: 2.5vh;
  font-weight: 600;
  border: none;
  border-radius: 1.5vh;
  cursor: pointer;
  margin-top: 2vh;
  transition: 0.25s;
}

.login-container button:hover {
  background: #0056b3;
}

.login-container button:disabled {
  background: #8abafc;
  cursor: not-allowed;
}

.error {
  margin-top: 2.5vh;
  color: red;
  text-align: center;
  font-weight: 500;
  font-size: 2.3vh;
}
