<nav class="sidebar">
  <div class="logo">SALE</div>
  <ul>
    <li routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
    <li routerLink="/customers" routerLinkActive="active">Khách hàng</li>
    <li routerLink="/order-pos" routerLinkActive="active">Đơn hàng</li>
    <li routerLink="/products" routerLinkActive="active">Sản phẩm</li>
    <li routerLink="/warehouse" routerLinkActive="active">Kho</li>
    <li routerLink="/reports" routerLinkActive="active">Báo cáo</li>
    <li routerLink="/suppliers" routerLinkActive="active">Nhà cung cấp</li>
    <li routerLink="/roles" routerLinkActive="active">Phân quyền</li>
  </ul>
  <div class="admin-link">
    <a routerLink="/admin">Admin</a>
  </div>
</nav>
